<!--NAVBAR-->
<nav class="navbar">
  <div class="container-fluid">
    <button (click)="animate('active')" class="btn btn-link menuIcon sidebar-element" type="button">
      <mat-icon class="sidebar-element">menu</mat-icon>
    </button>
    <img [routerLink]="['/']" src="assets/logo.png">
    <form class="d-flex">
      <span *ngIf="!userIsAuthenticated()">
        <button class="btn btn-outline-success btn-co" aria-label="Login icon" type="submit" [routerLink]="['auth/login']">Se connecter</button>
      </span>
      <span *ngIf="userIsAuthenticated()">
        <button class="btn btn-outline-success btn-co" aria-label="Account icon" type="submit">Déconnexion</button>
      </span>
    </form>
  </div>
</nav>
<!--SIDEBAR-->
<div [@sidebar]="state" class="sidebar">
  <button (click)="animate('notactive')" class="btn btn-link closeIcon sidebar-element" type="button">
    <mat-icon class="sidebar-element">close</mat-icon>
  </button>
  <ul class="list-group sidebar-element">
    <li class="list-group-item sidebar-element">MENU</li>
    <li class="list-group-item menu-link sidebar-element" *ngFor="let category of categories$ | async">
      <a [routerLink]="['/products']" [queryParams]="{category: category._id}">{{category.name}}</a>
    </li>
  </ul>
</div>
<!--SEARCH INPUT-->
<div class="container-fluid search">
  <form class="d-flex input-form">
    <app-product-search></app-product-search>
    <button class="btn btn-outline-success btn-search" type="submit"></button>
    <mat-icon>search</mat-icon>
  </form>
</div>
