<form [formGroup]="articleSearchForm" class="d-flex input-form tiny-form" [style]="search.pristine?'':'display: flex;'">
  <mat-form-field class="col-1" appearance="outline">
    <mat-label>Catégorie</mat-label>
    <mat-select formControlName="category">
      <mat-option [value]="0"></mat-option>
      <mat-option *ngFor="let categorie of categories$ | async" [value]="categorie._id">
        {{categorie.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field *ngIf="search" appearance="outline" class="col-11">
    <mat-label>Rechercher quelque chose</mat-label>
    <input matInput formControlName="search" type="text"/>
    <button *ngIf="search" matSuffix mat-icon-button aria-label="Clear" (click)="clear($event)">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
</form>
<div class="row">
  <div class="col-11 offset-1">
    <div *ngFor="let err of search?.errors | keyvalue">
      <mat-error *ngIf="err.value | IsString">{{ err.value }}</mat-error>
    </div>
  </div>
</div>