<mat-toolbar>
  Liste des produits
</mat-toolbar>
<form (ngSubmit)="submit()" [formGroup]="productSearchForm" class="mt-20">
  <input placeholder="Search something cool 🚀" matInput formControlName="search" type="text"/>
</form>
<mat-list class="mb-20 list-primary">
  <mat-list-item class="mb-20" *ngFor="let product of products$ | async">
    <div *ngFor="let image of product.images">
      <img [src]="image">
    </div>
    <p>
      <u>{{product.name}}</u> - {{product.description}}<br>
      <span *ngFor="let cat of product.categories" color="primary">#{{cat.name}}</span>
    </p>
  <mat-divider></mat-divider>
  </mat-list-item>
</mat-list>

<button mat-fab routerLink="/" color="primary">
  <mat-icon>keyboard_return</mat-icon>
</button>
