<mat-toolbar>
  Liste des produits
</mat-toolbar>
<app-product-form></app-product-form>
<div class="d-grid">
  <div *ngFor="let _product of products$ | async">
    <app-product-item [product]="_product"></app-product-item>
  </div>
</div>

<div class="bottom">
  <button color="primary" style="float: left;" mat-fab routerLink="/">
    <mat-icon>keyboard_return</mat-icon>
  </button>

  <button color="primary" style="float: right;" mat-fab routerLink="/product/new">
    <mat-icon>add</mat-icon>
  </button>
</div>
