<mat-toolbar>
  Liste des produits
</mat-toolbar>
<form [formGroup]="productSearchForm" class="mt-20">
  <mat-form-field *ngIf="search" appearance="fill">
    <mat-label>Search something cool 🚀</mat-label>
    <input matInput formControlName="search" type="text"/>
    <div *ngFor="let err of search?.errors | keyvalue">
      <mat-error *ngIf="err.value | IsString">{{ err.value }}</mat-error>
    </div>
  </mat-form-field>
</form>
<mat-list class="mb-20 list-primary">
  <mat-list-item class="mb-20" *ngFor="let product of products$ | async">
    <div *ngFor="let image of product.images">
      <img [src]="image">
    </div>
    <p>
      <u>{{product.name}}</u> - {{product.description}}<br>
      <span *ngFor="let cat of product.categories" color="primary">#{{cat.name}}</span>
    </p>
  <mat-divider></mat-divider>
  </mat-list-item>
</mat-list>

<button mat-fab routerLink="/" color="primary">
  <mat-icon>keyboard_return</mat-icon>
</button>
